.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position:top;
  margin-bottom: 30px;
  text-align: center;
}

.profile-header {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  padding: 40px;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 0px;
}

p{
  text-align: center;
  margin-bottom: 30px;
}

h2, h3 {
  margin-bottom: 10px;
  margin-top: 30px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

.skill-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.skill-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 250px;
}

.skill-card h3{
  margin-bottom: 15px;
}

.skill-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-card ul li {
   display: inline-block;
  background-color: #e0e0e0;
  padding: 5px 10px;
  border-radius: 12px;
  margin: 5px 5px 0 0;
  font-size: 14px;
}

.skill-card ul li:hover {
  background-color: #d1d1d1;
  cursor: default;
}

@media (max-width: 680px) {
  .skill-card {
    width: 100%;
  }
}