/* Profile */
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position:top;
  margin-bottom: 30px;
  text-align: center;
}

.profile-header {
  text-align: center;
}

/* Whole HTML and Body */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.container {
  flex: 1;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Headings */
h1 {
  font-size: 40px;
  margin: 0 0 10px 0;
  text-align: center;
  color: #2c3e50;
}

p{
  text-align: center;
  margin-bottom: 30px;
  color: #333333;
}

h2 {
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
  font-size: 28px;
  color: #2c3e50;
}

h3 {
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  color: #2c3e50;
}

/* Lists */
ul {
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
  color: #fff;
}

/* Skill Cards */
.skill-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.skill-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 250px;
}

.skill-card h3{
  margin-bottom: 15px;
}

.skill-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.skill-card ul li {
  display: inline-block;
  background-color: #3498db;
  padding: 5px 10px;
  border-radius: 12px;
  margin: 5px 5px 0 0;
  font-size: 14px;
  white-space: nowrap;
}

.skill-card ul li:hover {
  background-color: #3e92ca;
  cursor: default;
}

/* Projects Section */
.project-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 1200px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.project-card h3 {
  color: #2c3e50;
  margin-bottom: 10px;
  font-size: 32px;
}

.project-card p {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.project-card h4 {
  margin-top: 15px;
  color: #2c3e50;
  text-align: center;
  font-size: 20px;;
}

.project-card .tech-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.project-card .tech-list li {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;
  white-space: nowrap;
}

.project-card .tech-list li:hover {
  background-color: #3e92ca;
  cursor: default;
}

/* Footer */
.site-footer {
  width: 100%;
  background-color: #2c3e50;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.site-footer p {
  margin: 5px 0;
  font-size: 20px;
  color: #fff;
}

.site-footer a {
  color: #3498db;
  text-decoration: none;
  margin: 0 5px;
}

.site-footer a:hover {
  text-decoration: underline;
}

@media (max-width: 680px) {
  .skill-card {
    width: 100%;
  }
}